# Base de Datos
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=rivals_analyzer

# Backend
SECRET_KEY=supersecretkey-cambiar-en-produccion
DATABASE_URL=postgresql://postgres:postgres@db:5432/rivals_analyzer
# Para desarrollo local (descomentar para usar sqlite local si no se usa docker):
# DATABASE_URL=sqlite:///./sql_app.db

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000

# Inteligencia Artificial
GEMINI_API_KEY=tu_api_key_de_gemini_aqui
